html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
#canvas-container {
  position: relative; /* para facilitar o posicionamento absoluto do canvas */
}

canvas {
  display: block;
}

h1 {
  position: absolute;
  top: 20px; /* ajuste conforme necessário */
}